<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>끝말잇기 얍!</title>
    <style>
      .chat_log{ width: 1060px; height: 300px; }
      .name{ width: 150px; height: 30px; }
      .message{ width: 780px; height: 30px; }
      .chat{ width: 110px; height: 40px; }

      header{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
      }

      .title{
          position: absolute;
          width: 400px;
          height: 180px;
          left: 70px;
          top: -70px;
          
          font-family: 'netmarble';
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 125px;
          
          color: #000000;
      }

      .player_ready{
        position: relative;
          top: -15px;
          left: 450px;
          width: 200px;
          height: 100px;
          background-color: #E8C615;
          border-radius: 20%;
          padding: 0px;
      }

      .box_text{
          position: relative;
          text-align: center;
          top: -1%;
          font-size: 20px;
          font-weight: bold;
          
      }

      footer{
          flex-flow: row nowrap;
          justify-content: space-around;
          align-items: flex-end;
      }

      .player_status{
          position: relative;
          width: 190px;
          height: 190px;
          background-color: #D9D9D9;
          border-radius: 20%;
          padding: 0px;
          left: 5px;
          bottom: -20px;
      }

      .player_order{
          position: relative;
          width: 190px;
          height: 190px;
          background-color: #D9D9D9;
          border-radius: 20%;
          padding: 0px;
          right: -870px;
          bottom: 190px;
      }

      .button2 {
          border: none;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          cursor: pointer;
          border-radius: 5px;
          color: white;
          background-color: #3498DB; 
          border-color: #3498DB;  
      }

      .readyWatching{
          font-size: 16px;
          padding: 0px 5px;
          margin-left: 5px;
          border: 0px;
          outline: none;
          float: left;
          border-radius: 30px;
          position: relative;
          margin-top: 50px;
          text-align: center;
          left:350px;
          top: -300px;
      }

      .ready_button{
          width: 400px;
          height: 45px;
          border: 10px;
          bottom: 10px;
      }
    </style>
    <script>
      var sec = 10;
      var lim = 300;
    </script>
  </head>
  <body>
    <form id = "gameOver" action="/over" method="GET"></form>

    <div style="width: 100%">
      <h3 class="title">끝말잇기 얍!</h3>

      <div class = "player_ready">
        <div class = "box_text">
            <p>게임 종료까지</p>
            <div style="font-size: 40px;" id = "limit" type="text"></div>
        </div>
    </div>

    <div>
      <textarea id="chatLog" class="chat_log" readonly></textarea>
    </div>
    <form id="chat">
      <input id="name" class="name" type="text" readonly>
      <input id="message" class="message" type="text">
      <input type="submit" class="chat" value="전송"/>
    </form>
    <div id="box" class="box">
    <script src="/socket.io/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      var socket = io();
      $('#chat').on('submit', function(e){
        socket.emit('request_message', $('#name').val(), $('#message').val(), sec);
        $('#message').val('');
        $('#message').focus();
        e.preventDefault();
      });
      socket.on('response_message', function(msg, r, last){
        $('#chatLog').append(msg+'\n');
        $('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);

        if (r == true) {
          sec = 10;

          document.getElementById("first").innerHTML = last; // 다음 첫 글자를 이전 마지막 글자로 설정
        }
      });
      socket.on('change_name', function(name){
        $('#name').val(name);
      });
      socket.on('game_start', function(last){
        document.getElementById("first").innerHTML = last; // 다음 첫 글자를 이전 마지막 글자로 설정

        setInterval(() => {
          sec--;
          lim--;

          document.getElementById("time").innerHTML = sec;
          document.getElementById("limit").innerHTML = lim;

          if (sec <= 0) {
            socket.emit('time_out');
          }

          if (lim <= 0) {
            document.getElementById("gameOver").submit();
          }
        }, 1000);
      });
      socket.on('change', function(r, s){
        if (r != null) {
          r.replace(/\n/g, '<br/>');
          document.getElementById("userList").innerText = r;
        }

        if (s != null) {
          s.replace(/\n/g, '<br/>');
          document.getElementById("score").innerText = s;
        }
      });

      function ready() {
        socket.emit('ready', $('#name').val());
      }
    </script>

    <footer>
      <div style="width: 100%; height: 100%;">
          <div style="position: absolute;
          width: 80px;
          height: 90px;
          left: 420px;
          top: 480px;
          background: #41993F;">
            <div style=
            "top: 20px;
            font-family: 'netmarble';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;" class="box_text" id = "time">
              -
            </div>
          </div>

          <div style="position: absolute;
          width: 80px;
          height: 90px;
          left: 640px;
          top: 480px;
          background: #f1ee36;">
            <div style=
            "top: 20px;
            font-family: 'netmarble';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;" class="box_text" id = "first">
              -
            </div>
          </div>

          <div class = "player_status">
              <div class="box_text">
                  <p>플레이어</p>
                  <div id = "userList" type="text"></div>
              </div>
          </div>
          
          <div class = "player_order">
              <div class = "box_text">
                  <p>점수판</p>
                  <div id = "score" type="text"></div>
              </div>
          </div>

          <div class="readyWatching">
              <button class="button2 ready_button" onclick="ready()">준비</button>
          </div>
      </div>
    </footer>
  </body>
</html>