<!doctype html>
<html lang = "en">
<head>
  <title>website1</title>
  <meta charset="UTF-8" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <style>
  input[type=text]{
    left: 580px;
    top: 495px;
    font-size:40px;
    border: 4px solid #B397A1;
    border-radius: 30px;
    width: 450px;
    height: 75px;
  }
  </style>
  <script>
    var users = "<%= users%>";
    users.replace(/\n/g, '<br/>');
  </script>
</head>

<body>
  <form id = "setNick" action="/game" method="POST">
    <input type = hidden name = "nick">    
  </form>

  <script>
    function Enter(msg) {
      var setNick = document.getElementById("setNick");
      setNick.nick.value = document.getElementById("nick").value;

      setNick.submit();
    }
  </script>

<p style = "position: absolute;
width: 648px;
height: 151px;
left: 326px;
top: 300px;
font-family: 'netmarble';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 1px;
color: #000000;">
끝말잇기 얍!
</p>

<p style ="position: absolute;
width: 171px;
height: 80px;
left: 82px;
top: 450px;
font-family: 'netmarble';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 80px;">
닉네임
</p>

<div style="box-sizing: border-box;
position: absolute;
width: 450px;
height: 90px;
left: 280px;
top: 495px;
background: #FFFFFF;
border: none">
<input id="nick" type="text">
</div>

<div style = "position: absolute;
width: 50px;
height: 30px;
left: 780px;
top: 505px;
padding:10px;
text-align:center;
font-family:'netmarble';
font-size: 25px;
border: 4px solid #B397A1;
border-radius: 30px;
background-color:gray;"
onclick="Enter()"
>참가
</div>

<div style="position: absolute;
width: 300px;
height: 380px;
border: 4px solid #B397A1;
background-color:gray;
border-radius:60px;
text-align:center;
left: 790px;
top: 60px;
font-family:'netmarble';
font-size: 25px;
white-space: pre-line
" id = "userList" type = "test">
<%= users%>
</div>

</body>
</html>